name: Simple Build and Deploy

on:
  workflow_dispatch:

jobs:
  full:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - run: mvn clean package

      - name: Upload WAR to Nexus
        env:
          NEXUS_URL: "http://184.73.33.129:8081/repository/jio-snapshot/"
          NEXUS_USER: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASS: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          WAR=$(ls target/*.war | head -n 1)
          echo "Uploading $WAR to Nexus..."
          curl -v -u "${NEXUS_USER}:${NEXUS_PASS}" \
            --upload-file "$WAR" \
            "${NEXUS_URL}maven-web-application-kkfunda/0.0.1-SNAPSHOT/maven-web-application-kkfunda-0.0.1-SNAPSHOT.war"

      - name: Deploy WAR to Tomcat
        env:
          TOMCAT_URL: ${{ secrets.TOMCAT_URL }}
          TOMCAT_USER: ${{ secrets.TOMCAT_USERNAME }}
          TOMCAT_PASS: ${{ secrets.TOMCAT_PASSWORD }}
        run: |
          WAR=$(ls target/*.war | head -n 1)
          echo "Deploying $WAR to Tomcat..."
          curl -sS -u "${TOMCAT_USER}:${TOMCAT_PASS}" \
            --upload-file "$WAR" \
            "${TOMCAT_URL}/manager/text/deploy?path=/maven-web-application&update=true"
