name: CICD-PIPELINE-FINAL

on:
  workflow_dispatch:

jobs:

  compile:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Install Maven
        run: |
          sudo apt update
          sudo apt install maven -y

      - name: Build with Maven
        run: mvn -B clean package


  sonarqube:
    runs-on: self-hosted
    needs: compile
    steps:
      - uses: actions/checkout@v4

      # Optional: Setup JDK if needed
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: SonarQube Analysis
        run: mvn sonar:sonar
